<h1>List of Cars</h1>
  <% @cars.each do |car| %>
    <li><%= car.manufacturer %>, Color: <%= car.color %>, Year: <%= car.year %>, Mileage: <%= car.mileage %><br><%= car.description %></li>
  <% end %>
<br>
<%= link_to "Add Car", new_car_path %><br>
<%= link_to "Manufacturer Index", manufacturers_path %>
